<header>
    <!--TOP LINE LOG-IN | LOG-OUT-->
    <div class="header__top">

        <a class="link-color-blue" href="#">Регистрация | Вход</a>
        <a class="link-color-blue" href="#">
            <i class="fa fa-vk fa-lg" aria-hidden="true"></i>
        </a>
        <a class="link-color-blue" href="#">
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
        </a>

    </div>

    <!--LOGO & NAVIGATION-->
    <div class="header-main">
        <div class="container header-main__container">
            <div class="row header-main__row">
                <div class="col-4 logo">
                    <a class="link-color-blue" href="#">
                        <img src="../img/logo.png" alt="Dream Tour" class="logo-pc">
                        <img src="../img/logo-mobile.png" alt="Dream Tour" class="logo-mobile">
                    </a>
                </div>
                <nav class="col navigation header-main__navigation">
                    <a href="#" class="navigation__link active link-color-blue">Главная</a>
                    <a href="#" class="navigation__link link-color-blue">Страны</a>
                    <a href="#" class="navigation__link link-color-blue">Туры</a>
                    <a href="#" class="navigation__link link-color-blue">Услуги</a>
                </nav>
            </div>
        </div>
    </div>
</header>