<div class="tour-card">
    <div class="tour-card__icon">
        <div class="tour-card__price">30 800 р.</div>
    </div>
    <div class="tour-card__description clearfix">
        <div class="tour-card__title">Менорка</div>
        <div class="tour-card__hotel tour-card__description_margin">
            <i class="fa fa-bed fa_blue" aria-hidden="true"></i>
            <span class="tour-card__label">Отель:</span>
            <span class="tour-card__text">Catalania Mirador des Port 3*</span>
        </div>
        <div class="tour-card__country tour-card__description_margin">
            <i class="fa fa-globe fa_blue" aria-hidden="true"></i>
            <span class="tour-card__label">Страна:</span>
            <span class="tour-card__text">Испания</span>
        </div>
        <div class="tour-card__duration tour-card__description_margin">
            <i class="fa fa-clock-o fa_blue" aria-hidden="true"></i>
            <span class="tour-card__label">Продолжительность:</span>
            <span class="tour-card__text">10 ночей</span>
        </div>
        <div class="tour-card__flight tour-card__description_margin">
            <i class="fa fa-calendar fa_blue" aria-hidden="true"></i>
            <span class="tour-card__label">Вылет/Выезд:</span>
            <span class="tour-card__text">10-07-2018</span>
        </div>
        <div class="tour-card__food tour-card__description_margin">
            <i class="fa fa-cutlery fa_blue" aria-hidden="true"></i>
            <span class="tour-card__label">Питание:</span>
            <span class="tour-card__text">BB</span>
        </div>
        <button class="tour-card__button blue-btn">Подробнее</button>
    </div>
</div>