/* -----------------------colors----------------------:*/

    // main-colors:
    $blue: #2a88c7;
    $orange: #d8704d;
    $pink: #d74f65;

// background:
    $light-gray: #ebeef0;

// form:
    $dark-gray: #2d2c2c;
    $gray: #464444;
    $light-line-color: #504e4e;


/* -----------------------fonts----------------------:*/

//caption's font:
    $main-font:'Open Sans', sans-serif;
    $captions-font: cometa, sans-serif;